<section class="generator">
  <article class="generator__article">
    <div class="generator__article--button1 js-reset">
      <i class="far fa-trash-alt"></i>Reset
    </div>
    <div class="generator__article--container js-card">
      <div class="container__nameprofession">
        <h2 class="container__nameprofession--name js-card-name">
          Nombre apellido
        </h2>
        <h3 class="container__nameprofession--profession js-card-job">
          Profesión
        </h3>
      </div>
      <div class="js__profile-image container__img"></div>
      <nav class="container__nav">
        <ul class="menu">
          <li class="menu__item">
            <a class="js-card-phone" href="">
              <i class="menu__item--icon fas fa-mobile-alt"></i>
            </a>
          </li>
          <li class="menu__item">
            <a class="js-card-email" href=""
              ><i class="menu__item--icon far fa-envelope"></i
            ></a>
          </li>
          <li class="menu__item">
            <a class="js-card-linkedin" href="" target="_blank">
              <i class="menu__item--icon fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="menu__item">
            <a class="js-card-github" href="" target="_blank">
              <i class="menu__item--icon fab fa-github-alt"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
</section>
