.share {
  font-family: $font-main;
  width: 100%;
  border: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid $color-borderFooter;
  &__title {
    @include legendTitle {
      padding-top: 10px;
      flex-wrap: nowrap;
      padding-top: 10px;
    }
    &--container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .icon {
        @include legendIcon;
      }
      .word {
        @include legendWord;
      }
    }
  }
  .arrow {
    @include legendArrow;
  }

  .border {
    border-bottom: solid 1px $color-borderFooter;
    margin: 30px 0 20px;
    width: 100%;
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--button {
      cursor: pointer;
      text-transform: uppercase;
      width: 199px;
      height: 50px;
      @include t($font-main, 1.125rem, $color-light);
      // background-color: $colorInactive;
      background-color: $color-icon;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
      border: none;
      border-radius: 12px;
      margin-top: 30px;
      @include tablet {
        margin-top: 33px;
      }
      .iconCard {
        padding-right: 9px;
      }
    }
    &--subsection {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0 30px;
      .titleCard {
        @include t($font-main, 1.125rem, $color-fontMain);
        margin-bottom: 5px;
      }
      .linkCard {
        @include t($font-main, 0.75rem, $color-icon);
        margin-bottom: 13px;
      }
      .twitterLink {
        background-color: #00a0f5;
        @include t($font-main, 0.875rem, $color-light);
        width: 181px;
        height: 30px;
        border-radius: 3px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
        text-align: center;
        padding-top: 3px;
        .icon {
          padding-right: 9.5px;
        }
      }
    }
  }
}

.js-required {
  font-size: 0.875rem;
  color: $color-main;
  padding: 20px 0 0;
}

.js-hidden {
  display: none;
}
