@import '../core/_variables.scss';
@import '../core/_reset.scss';
@import '../core/_mixins.scss';

.generator {
  width: 100%;
  padding: 38px 35px 40px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../images/MadWomenTile_1v5.svg"),
    linear-gradient(to bottom, #bfcdd0, #dde9ed);
  background-size: 260px;
  background-attachment: scroll;
  @include tablet {
    border-radius: 6px;
    width: 399px;
    flex-grow: 1;
  }
  &__article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &--button1 {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 76px;
      height: 31px;
      background-color: $color-icon;
      color: $color-light;
      border-radius: 15px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
      // border: solid 1px white;
      text-transform: uppercase;
      margin-bottom: 20px;
      @include t($font-main, 0.75rem, $color-light);
      .fa-trash-alt {
        margin-right: 8px;
        color: $color-light;
      }
    }
    &--container {
      width: 240px;
      background-color: white;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);

      .container__nameprofession {
        border-left: solid 5px $color-button;
        margin: 21px 0 10px;
        &--name {
          @include t($font-card, 1.125rem, $color-main);
          text-transform: capitalize;
          padding: 0 14px 4px 20px;
        }
        &--profession {
          @include t($font-card, 1rem, $color-fontMain);
          padding: 0 52px 0 20px;
        }
      }

      .container__img {
        width: 240px;
        height: 200px;
        // background-image: url("https://decider.com/wp-content/uploads/2015/05/peggy-survivor-lead.png?w=1156&h=862&crop=1");
        background-size: cover;
        background-position: center;
      }
      .container__nav {
        padding: 10px 62px 12px 20px;
        .menu {
          display: flex;
          justify-content: space-between;
          &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border: solid 2px $color-border-form;
            border-radius: 16px;
            &--icon {
              font-size: 1.125rem;
              color: $color-main;
            }
          }
        }
        &.palette-1 .menu__item {
          border: $palette1-color3;
        }
        &.palette-2 .menu__item {
          border: $palette2-color3;
        }
        &.palette-3 .menu__item {
          border: $palette3-color3;
        }
        &.palette-4 .menu__item {
          border: $palette4-color3;
        }
      }

      &.palette-1 .container__nameprofession {
        border-left-color: $palette1-color2;
      }

      &.palette-2 .container__nameprofession {
        border-left-color: $palette2-color2;
      }

      &.palette-3 .container__nameprofession {
        border-left-color: $palette3-color2;
      }
      &.palette-4 .container__nameprofession {
        border-left-color: $palette4-color2;
      }

      &.palette-1 .container__nameprofession--name {
        color: $palette1-color1;
      }
      &.palette-2 .container__nameprofession--name {
        color: $palette2-color1;
      }
      &.palette-3 .container__nameprofession--name {
        color: $palette3-color1;
      }
      &.palette-4 .container__nameprofession--name {
        color: $palette4-color1;
      }

      &.palette-1 .container__nav .menu__item {
        border-color: $palette1-color3;
      }
      &.palette-2 .container__nav .menu__item {
        border-color: $palette2-color3;
      }
      &.palette-3 .container__nav .menu__item {
        border-color: $palette3-color3;
      }
      &.palette-4 .container__nav .menu__item {
        border-color: $palette4-color3;
      }

      &.palette-1 .container__nav .menu__item--icon {
        color: $palette1-color1;
      }
      &.palette-2 .container__nav .menu__item--icon {
        color: $palette2-color1;
      }
      &.palette-3 .container__nav .menu__item--icon {
        color: $palette3-color1;
      }
      &.palette-4 .container__nav .menu__item--icon {
        color: $palette4-color1;
      }
    }
  }
}
