@import '../core/_variables.scss';
@import '../core/_mixins.scss';

.footer {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: $color-light;
  border-top: solid 1px $color-borderFooter;
  padding: 18px 0 20px;
  @include tablet {
    height: 5.5vh;
    min-height: 40px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.98vh 40px 0.98vh 41px;
  }
  &__small {
    text-transform: capitalize;
    @include t($font-main, 0.87rem, rgba(107, 107, 107, 0.5));
    margin-bottom: 12px;
    @include tablet {
      margin: 0;
    }
  }
  &__link {
    height: 40px;
  }
  &__logo {
    width: 103px;
    height: 40px;
  }
}
