.form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  padding: 27px 20px 31px 20px;
  @include tablet {
    width: 329px;
    float: left;
    overflow-y: auto;
  }
}
.collapsable__close {
  .collapsable__content {
    display: none;
  }
  .collapsable__icon {
    transform: rotate(180deg);
  }
}
