.container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 95px 35px 30px;
  background-color: $color-background;

  @include tablet {
    /*padding: 34.21vh 174px 5.77vh 175px;
    /*padding: 350px 174px 59px 175px;*/
    padding: 20vh 174px 5.77vh 175px;
    justify-content: flex-start;
    /*height: 963px;*/
    height: 94.5vh;
    /*min-height: 800px;*/
  }
  @media screen and (min-width: 768px) and (max-height: 600px) {
    padding: 5vh 174px 1vh 175px;
  }
  /*@media screen and (min-width: 1200px) {
    padding: 200px 174px 59px 175px;
    height: 690px;
  }*/

  &__logo {
    width: 300px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 25px;
    @include tablet {
      width: 500px;
      height: 400px;
      margin-bottom: 3.03vh;
      /*margin-bottom: 31px;*/
    }
    @media screen and (min-width: 768px) and (max-height: 600px) {
      width: 40%;
      height: auto;
      margin-bottom: 0;
    }
  }
  &__title {
    @include t($font-landing, 1.2rem, $color-icon);
    text-align: center;
    font-weight: 900;
    @include tablet {
      font-size: 1.5rem;
    }
  }
  &__paragraph {
    @include t($font-main, 0.8rem, $color-main);
    text-align: center;
    width: 264.8px;
    margin-bottom: 17.8px;
    @include tablet {
      font-size: 1rem;
      width: 331px;
      margin-bottom: 2.64vh;
      /*margin-bottom: 27px;*/
    }
  }
  &__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: solid 1.6px rgba(225, 115, 52, 0.21);
    width: 268px;
    margin-bottom: 39px;
    @include tablet {
      width: 325px;
      grid-template-rows: 86px;
      margin-bottom: 0;
    }

    .item {
      text-align: center;
      &__square {
        color: $color-icon;
        font-size: 1.4rem;
        @include tablet {
          font-size: 1.75rem;
        }
      }
      &__word {
        @include t($font-main, 0.8rem, $color-fontMain);
        @include tablet {
          font-size: 1rem;
        }
      }
    }
  }
  &__button {
    background-color: $color-button;
    width: 129px;
    height: 42px;
    border-radius: 21px;
    padding: 10px 20px;
    text-transform: uppercase;
    @include t($font-main, 1rem, $color-light);
    text-align: center;
    animation-name: buttonChange;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    @keyframes buttonChange {
      from {
        @include t($font-main, 1rem, $color-light);
      }
      to {
        @include t($font-main, 1.02rem, $color-light);
      }
    }
    @include tablet {
      margin-top: 17.48vh;
      /*margin-top: 186px;*/
    }
    @media screen and (min-width: 768px) and (max-height: 600px) {
      margin-top: 2vh;
    }
    /*@media screen and (min-width: 1200px) {
      margin-top: 50px;
    }*/
  }
}
