<!--design section-->
<fieldset class="design js-container collapsable__close">
  <include
    src="./titles.html"
    classTitle="design__title js-title"
    classTitleContainer="design__title--container"
    classIcon="far fa-object-ungroup icon"
    section="Diseña"
  ></include>

  <div class="design__palette collapsable__content">
    <h3 class="design__palette--colors">Colores</h3>
    <div>
      <label class="design__palette--input" for="">
        <input
          class="design__palette1 js-palette"
          type="radio"
          name="palette"
          value="1"
          checked
        />
        <ul class="design__palette--list design__palette1">
          <li class="design__palette1--color1">colorA</li>
          <li class="design__palette1--color2">colorB</li>
          <li class="design__palette1--color3">colorC</li>
        </ul>
      </label>
      <label class="design__palette--input" for="">
        <input class="js-palette" type="radio" name="palette" value="2" />
        <ul class="design__palette--list">
          <li class="design__palette2--color1">colorA</li>
          <li class="design__palette2--color2">colorB</li>
          <li class="design__palette2--color3">colorC</li>
        </ul>
      </label>
      <label class="design__palette--input" for="">
        <input class="js-palette" type="radio" name="palette" value="3" />
        <ul class="design__palette--list">
          <li class="design__palette3--color1">colorA</li>
          <li class="design__palette3--color2">colorB</li>
          <li class="design__palette3--color3">colorC</li>
        </ul>
      </label>
      <label class="design__palette--input" for="">
        <input class="js-palette" type="radio" name="palette" value="4" />
        <ul class="design__palette--list">
          <li class="design__palette4--color1">colorA</li>
          <li class="design__palette4--color2">colorB</li>
          <li class="design__palette4--color3">colorC</li>
        </ul>
      </label>
    </div>
  </div>
</fieldset>
