<!-- fill section-->
<fieldset class="fill js-container collapsable__close collapsable__open">
  <include
    src="./titles.html"
    classTitle="fill__title js-title"
    classTitleContainer="fill__title--container"
    classIcon="far fa-keyboard icon"
    section="Rellena"
  ></include>

  <div class="fill__box collapsable__content">
    <label class="fill__box--label name" for="Name">Nombre Completo</label>
    <input
      class="fill__box--input js-input-name js-input-text"
      placeholder="Ej: Sally Jill"
      type="text"
      id="name"
      name="name"
      required
    />
    <label class="fill__box--label" for="job">Puesto</label>
    <input
      class="fill__box--input job js-input-job js-input-text"
      placeholder="Ej: Front-end unicorn"
      type="text"
      id="job"
      name="job"
      required
    />
    <label class="fill__box--label imgLabel" for="photo">
      Imagen de perfil</label
    >
    <div class="addImage">
      <button
        class="js__profile-trigger fill__box--input buttonImg"
        type="button"
      >
        Añadir imagen
      </button>
      <input
        class="js__profile-upload-btn buttonInput"
        type="file"
        id="photo"
        name="photo"
        required
      />
      <div class="js__profile-preview preview"></div>
    </div>
    <label class="fill__box--label" for="email">Email</label>
    <input
      class="fill__box--input js-input-email js-input-text"
      placeholder="Ej: sally-hill@gmail.com"
      type="email"
      id="email"
      name="email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      required
    />
    <label class="fill__box--label" for="phone">Teléfono</label>
    <input
      class="fill__box--input js-input-phone js-input-text"
      placeholder="Ej:+34 666666666"
      type="tel"
      id="phone"
      name="phone"
      pattern="^[0-9]{9}$"
      required
    />
    <label class="fill__box--label" for="linkedin">Linkedin</label>
    <input
      class="fill__box--input js-input-linkedin js-input-text"
      placeholder="Ej: linkedin.com/in/sally.hill"
      type="text"
      id="linkedin"
      name="linkedin"
    />
    <label class="fill__box--label" for="github">Github</label>
    <input
      class="fill__box--input js-input-github js-input-text"
      placeholder="Ej: @sally-hill"
      type="text"
      id="github"
      name="github"
    />
  </div>
</fieldset>
