@mixin t($fontFamily, $fonSize, $fontColor) {
  font-family: $fontFamily;
  font-size: $fonSize;
  color: $fontColor;
}
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin legendTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  @content;
}
@mixin legendWord {
  font-family: $font-main;
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: $color-fontMain;
  margin-left: 8px;
}
@mixin legendIcon {
  width: 21px;
  height: 18px;
  color: $color-icon;
}
@mixin legendArrow {
  width: 16px;
  height: 18px;
  text-align: right;
  color: $color-fontMain;
}
