// fonts
$font-main: "Open Sans", sans-serif;
$font-landing: "Merriweather", serif;
$font-card: "Montserrat", sans-serif;

// colors
$color-icon: #cc1517;
$color-main: #114e4e;
$color-button: #304668;
$color-fontMain: #54585a;
$color-light: #ffffff;
$color-background: #f5f5f5;
$color-borderFooter: #d8d8d8;
$color-border-form: #a2deaf;
$colorInactive: #d5d5d5;
$colorPlaceholder: #c5c5c5;
$palette1-color1: #114e4e;
$palette1-color2: #438792;
$palette1-color3: #a2deaf;
$palette2-color1: #420101;
$palette2-color2: #bd1010;
$palette2-color3: #e95626;
$palette3-color1: #3e5b65;
$palette3-color2: #eab052;
$palette3-color3: #a0c0cf;
$palette4-color1: black;
$palette4-color2: #cc1517;
$palette4-color3: #95999b;
